<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}d!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/build/app.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'login.html.twig' %}

            {% include 'menu.html.twig' %}

            <div class="main-content">
                Home Page
            </div>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

        {% endblock %}

        {% block javascripts %}
            <script src="https://www.google.com/recaptcha/api.js?render="></script>
            {{ encore_entry_script_tags('app') }}
            <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
